
<ul class="list">
        <li data-type='index'>
            <a href="<%=foot_nav.index%>" class="home on"><span class="f_ico"></span><span class="f_text">首页</a>
        </li>
        <li data-type='find'>
            <a href="<%=foot_nav.found%>" class="found"><span class="f_ico"><span class="p1"></span><span class="p2"></span></span><span class="f_text">发现</span></a>
        </li>
        <li data-type='add'>
            <a href="<%=foot_nav.add%>" class="add"><span class="f_ico"><span class="p1"></span><span class="p2"></span><span class="p3"></span></span></a>
        </li>
        <li data-type='circle'>
            <a href="<%=foot_nav.circle%>" class="circle"><span class="f_ico"><span class="p1"></span><span class="p2"></span></span><span class="f_text">圈子</span></a>
        </li>
       <li data-type='userCenter'> 
            <a href="<%=foot_nav.user%>" class="about"><span class="f_ico"></span><span class="f_text">我</span></a>
        </li>
    </ul>
